<link rel="stylesheet" href="/static/style.css">

<h1> DPSS Incident Report Totals by Incident Type </h1>
<p>(Sept. 1, 2015 - March 31, 2018)</p>
<p>Note: (Raw) is for presenting the data as collected.
Due to significant variability in input, this results in some irregular mannerisms.</p>
<p>(Refined) is where I attempt to contract the variable responses into specific categories. This feature may not see completion by the project deadline, but was 
also never really a promised feature in the proposal</p>
<ol>
<li><a href="/Vis-4/ByType_raw">Sorted by Incident Type Name (Raw)</a></li>
<li><a href="/Vis-4/ByFreq_raw">Sorted by Incident Total (Raw)</a></li>
<li><a href="/Vis-4/ByType_refined">Sorted by Incident Type Name (Refined)</a></li>
<li><a href="/Vis-4/ByFreq_refined">Sorted by Incident Total (Refined)</a></li>
</ol>

<a href="/">Return to Home Page</a>